body {
  background-color:#E3E4FA;
  
}

.container {
text-align: center;  
width: 30%;
background-color: white;
border-color: white;
border-style: solid;

margin-top: 180px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 450px;


}



input[type=submit] {
box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #e9e4f2 5%, #b5abdb 100%);
	background-color:#e9e4f2;
	border-radius:15px;
	border:1px solid #fcfcfc;
	display:inline-block;
	cursor:pointer;
	color:#3a3a9c;
	font-family:Arial;
	font-size:19px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
input[type=submit]:hover{
background:linear-gradient(to bottom, #b5abdb 5%, #e9e4f2 100%);
	background-color:#b5abdb;
}

input[type=submit]:active{
position:relative;
	top:1px;

}

.slidecontainer {
width: 30%;
background-color: white;
border-color: white;
border-style: solid;

margin-top: 180px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 450px;


}

.slider{
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
